<table>
    <tr>
      <th>Hospital Name</th>
      <th>Emergency Contact Number</th>
      <th> Address</th>
      <th>City</th>
    </tr>
    <tr>
      <td>Apollo Hospital</td>
      <td style="background-color: yellow;">040 2360 7777</td>
      <td>Pollicetty Towers, St. John's Road, Bhagyanagar Colony, Beside Keyes High School</td>
      <td>Hyderabad</td>
    </tr>
    <tr>
      <td>Yashoda Hospital</td>
      <td style="background-color: yellow;">040 2455 5555</td>
      <td>Raj Bhavan Road, Somajiguda</td>
      <td>Hyderabad</td>
    </tr>
    <tr>
      <td>Continental Hospital</td>
      <td style="background-color: yellow;">040 6700 0000</td>
      <td>Plot No. 3, Road No. 2, IT & Financial District, Nanakramguda</td>
      <td>Hyderabad</td>
    </tr>
    <tr>
      <td>KIMS – Sunshine Hospitals</td>
      <td style="background-color: yellow;">040 4488 0000</td>
      <td>Survey No. 156/157, Opposite Airport, Rajiv Gandhi International Airport Approach Road</td>
      <td>Hyderabad</td>
    </tr>
    <tr>
      <td>Gleneagles Global Hospital</td>
      <td style="background-color: yellow;">040 4520 0000</td>
      <td>6-1-1040/1 to 4, Lakdi-ka-pul</td>
      <td>Hyderabad</td>
    </tr>
    <tr>
      <td>Aster Prime Hospital</td>
      <td style="background-color: yellow;">040 4455 0000</td>
      <td>Scheme No. 36, Sector 3, Nerul, Navi Mumbai</td>
      <td>Mumbai</td>
    </tr>
    <tr>
      <td>CARE Hospitals</td>
      <td style="background-color: yellow;">040 3041 8888</td>
      <td>Exhibition Grounds Road, Nampally</td>
      <td>Hyderabad</td>
    </tr>
    <tr>
      <td>Star Hospitals</td>
      <td style="background-color: yellow;">040 4477 7777</td>
      <td>8-2-596/5, Road No. 10, Banjara Hills</td>
      <td>Hyderabad</td>
    </tr>
    <tr>
      <td>PACE Hospital</td>
      <td style="background-color: yellow;">040 2333 3333</td>
      <td>Plot No. 12, Road No. 12, Banjara Hills</td>
      <td>Hyderabad</td>
    </tr>
    <tr>
      <td>MEDICOVER Hospitals</td>
      <td style="background-color: yellow;">040 4940 4940</td>
      <td>Behind Cyber Towers, Hitech City</td>
      <td>Hyderabad</td>
    </tr>
    <tr>
      <td>Basavatarakam Indo American Cancer Hospital & Research Institute</td>
      <td style="background-color: yellow;">040 2355 5555</td>
      <td>Madhapur, Hyderabad</td>
      <td>Hyderabad</td>
    </tr>
    <tr>
      <td>Virinchi Hospitals</td>
      <td style="background-color: yellow;">040 4455 5555</td>
      <td>Plot No. 13, Road No. 12, Banjara Hills</td>
      <td>Hyderabad</td>
    </tr>
    <tr>
      <td>Arete Hospitals</td>
      <td style="background-color: yellow;">040 2333 3333</td>
      <td>Plot No. 12, Road No. 12, Banjara Hills</td>
      <td>Hyderabad</td>
    </tr>
    <tr>
      <td>KIMS Hospitals</td>
      <td style="background-color: yellow;">040 4488 0000</td>
      <td>Survey No. 156/157, Opposite Airport, Rajiv Gandhi International Airport Approach Road</td>
      <td>Hyderabad</td>
    </tr>
    <tr>
      <td>Yashoda Hospital Somajiguda</td>
      <td style="background-color: yellow;">040 2455 5555</td>
      <td>Raj Bhavan Road, Somajiguda</td>
      <td>Hyderabad</td>
    </tr>
    <tr>
      <td>Aster CMI Hospital</td>
      <td style="background-color: yellow;">040 4455 0000</td>
      <td>No. 43/2, New Airport Road, NH-7, Sahakara Nagar, Hebbal</td>
      <td>Bangalore</td>
    </tr>
    <tr>
      <td>Citizens Hospital</td>
      <td style="background-color: yellow;">040 2333 3333</td>
      <td>Nallagandla, Serilingampally, Hyderabad</td>
      <td>Hyderabad</td>
    </tr>
    <tr>
      <td>Star Super Specialty Hospital</td>
      <td style="background-color: yellow;">040 4477 7777</td>
      <td>8-2-596/5, Road No. 10, Banjara Hills</td>
      <td>Hyderabad</td>
    </tr>
    <tr>
      <td>PACE Hospital</td>
      <td style="background-color: yellow;">040 2333 3333</td>
      <td>Plot No. 12, Road No. 12, Banjara Hills</td>
      <td>Hyderabad</td>
    </tr>
    <tr>
      <td>Gleneagles Global Hospital Lakdi-ka-pul</td>
      <td style="background-color: yellow;">040 4520 0000</td>
      <td>6-1-1040/1 to 4, Lakdi-ka-pul</td>
      <td>Hyderabad</td>
    </tr>
</table>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #4CAF50;
            color: white;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        tr:hover {
            background-color: #ddd;
        }
    </style>
  </table>